{
  "env": {
    "jest": true,
    "browser": true
  },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended",
    "plugin:playwright/playwright-test",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "globals": {
    "document": true,
    "localStorage": true,
    "window": true,
    "navigator": true,
    "fetch": true
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "react-hooks",
    "testing-library",
    "jest-dom",
    "prettier",
    "simple-import-sort"
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx", ".ts"]
      }
    ],
    "prettier/prettier": "error",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": 0,
    "react/no-array-index-key": 0,
    "react/no-did-update-set-state": "off",
    "react/require-default-props": "off",
    "global-require": "warn",
    "no-underscore-dangle": [
      2,
      {
        "allow": ["__STORE__"]
      }
    ],
    "jsx-a11y/label-has-for": [
      1,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ],
    "jsx-a11y/media-has-caption": 1,
    "jsx-a11y/anchor-is-valid": 0,
    "arrow-body-style": 0,
    "max-len": 0,
    "camelcase": "off",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-unused-expressions": "off",
    "no-nested-ternary": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/camelcase": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "testing-library/no-wait-for-multiple-assertions": 0,
    "playwright/missing-playwright-await": 0,
    "import/extensions": [
      "error",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ]
  },
  "overrides": [
    {
      "files": ["e2e/**/*.ts"],
      "rules": {
        "playwright/missing-playwright-await": ["error"]
      }
    },
    {
      "files": ["**/*.js", "**/*.ts", "**/*.tsx"],
      "rules": {
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              // `react` first, `next` second, then packages starting with a character
              ["^react$", "^next", "^formik", "^styled-components", "^[a-z]", "^@"],
              // unit test helpers
              ["^__tests__/helpers/"],
              // Mocks
              ["^__tests__/"],
              // HOK's
              ["^lib/auth", "^lib/apollo"],
              // Mutations and Queries
              ["^lib/apollo/hooks/actions","^lib/apollo/hooks/state", "^hooks/"],
              // Graphql
              ["^graphql/"],
              // Constants
              ["^public/","^config/", "^graphql/types", "^helpers", "^lib/apollo/types"],
              // Shared components
              [
                "^components/shared/atoms/",
                "^components/shared/molecules/",
                "^components/shared/organisms/",
                "^components/shared/templates/",
                "^pages/"
              ],
              ["^components/pages/"],
              // Imports starting with `../`
              ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
              // Page components
              ["^./components"],
              // Imports starting with `./`
              ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
              ["^./styled", "^./types", "^./config", "./helpers", "./utils"]
            ]
          }
        ]
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts", ".mjs"]
      }
    }
  }
}
