# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

/test-results/
/playwright-report/
/playwright/.cache/

# next.js
/.next/
/out/
/.dist/

# production
/build

# misc
.DS_Store
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode

# storybook build
storybook-static
build-storybook.log


tsconfig.tsbuildinfo

