.tab-enter {
  opacity: 0;
  transform: translate(40px);
}

.tab-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.tab-exit {
  opacity: 0;
  transform: translate(-40px);
}

.tab-exit-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
