name: E2E Tests (Playwright)

on:
  push:
    branches:
      - master
  pull_request:
    branches: 
      - master

env:
  API_URL: ${{ secrets.API_URL }}

jobs:
  tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up NodeJS
      uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'
        cache-dependency-path: 'yarn.lock'

    - name: Install dependencies
      run: yarn

    - name: Install Playwright Browsers
      run: yarn playwright install --with-deps

    - name: Create build
      run: yarn build

    - name: Run Playwright tests
      run: yarn pw-run
      env:
        API_URL: ${{ secrets.API_URL }}
    # - name: Run Playwright tests
    #   run: yarn ci:pw-run

    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
